* {
    padding: 0;
    margin: 0;

}


.main {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.productContainer {
    height: 170px;
    width: 170px;
    border: 1px solid black;
    background-color: rgb(233, 206, 206);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
}